src/flows/Apply_Hierarchy_to_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>SendHierarchyEmailRequest</name>
        <label>SendHierarchyEmailRequest</label>
        <locationX>476</locationX>
        <locationY>1337</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <connector>
            <targetReference>CreateRequestTrace</targetReference>
        </connector>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>EmailMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Solicitud de Jerarquización de: {!Account_Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Sender Address</name>
            <value>
                <stringValue>eberenguer@kaizenstep.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CC Email Addresses (comma-separated)</name>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Target Object Id</name>
            <value>
                <stringValue>eberenguer@kaizenstep.com, epelaz@simon.es, psamo@simon.es</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>656</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>HierarchiesOnTargetAccount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountHierarchyToLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopHierarchies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesOfHierarchy</name>
        <label>AssignValuesOfHierarchy</label>
        <locationX>722</locationX>
        <locationY>988</locationY>
        <assignmentItems>
            <assignToReference>var_HierarchyCollection1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopHierarchy.KS_Nombre_Cliente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HierarchyCollection2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopHierarchy.KS_Organizacion_de_ventas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HierarchyCollection3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopHierarchy.KS_Sector__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_HierarchyCollection4</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopHierarchy.KS_Canal_de_distribucion__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopHierarchiesOnTarget</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_without_Hierarchies</name>
        <label>Account without Hierarchies?</label>
        <locationX>511</locationX>
        <locationY>659</locationY>
        <defaultConnector>
            <targetReference>LoopHierarchies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account has Hierarchies</defaultConnectorLabel>
        <rules>
            <name>Account_has_no_hierarchies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HierarchiesOnTargetAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_sin_jerarqu_a</targetReference>
            </connector>
            <label>Account has no hierarchies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>258</locationX>
        <locationY>1201</locationY>
        <defaultConnector>
            <targetReference>End_of_Hierarchy_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Declines</defaultConnectorLabel>
        <rules>
            <name>User_Confirms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirmar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetUserName</targetReference>
            </connector>
            <label>User Confirms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Account_Has_Hierarchies</name>
        <label>Current Account Has Hierarchies</label>
        <locationX>273</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypeId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account DOES NOT Have Active Hierarchies</defaultConnectorLabel>
        <rules>
            <name>Account_HAS_Active_Hierarchies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HierarchiesPresentonCurrentAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Account_is_not_CRM_hierarchies</targetReference>
            </connector>
            <label>Account HAS Active Hierarchies</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Superior_Hierarchies</name>
        <label>Has Superior Hierarchies</label>
        <locationX>1072</locationX>
        <locationY>846</locationY>
        <defaultConnector>
            <targetReference>LoopHierarchiesOnTarget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Superior Hierarchy</defaultConnectorLabel>
        <rules>
            <name>Has_Superior_Hierarchy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NextClienteSuperior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Hierarchies_from_Selected_Accounts</targetReference>
            </connector>
            <label>Has Superior Hierarchy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CRM_Account</name>
        <label>Is CRM Account?</label>
        <locationX>205</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Error_Account_is_not_CRM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NOT CRM Account</defaultConnectorLabel>
        <rules>
            <name>Account_Is_CRM_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_canal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distribuidores CRM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KS_0_Count_OC</targetReference>
            </connector>
            <label>Is CRM Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Name_or_Id</name>
        <label>Is Name or Id</label>
        <locationX>269</locationX>
        <locationY>572</locationY>
        <defaultConnector>
            <targetReference>MatchingAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Text_is_Id_Salesforce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdSalesforce_Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchingAccounts_byId</targetReference>
            </connector>
            <label>Text is Id Salesforce</label>
        </rules>
    </decisions>
    <decisions>
        <name>KS_0_Count_OC</name>
        <label>0 Count OC?</label>
        <locationX>379</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>CurrentAccountHasHierarchies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Igual_a_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_OrgVentas</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_OrgVentas</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>error_org</targetReference>
            </connector>
            <label>Igual a 0</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Lst_Values_byId</name>
        <dataType>String</dataType>
        <displayField>KS_Descriptivo_Cuenta__c</displayField>
        <filters>
            <field>KS_Id_Salesforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdSalesforce_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RecordTypeId_DistribuidoresSAP</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Var_SelectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_SelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Description</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Account_Lst_Values_Name</name>
        <dataType>String</dataType>
        <displayField>KS_Descriptivo_Cuenta__c</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>IdSalesforce_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RecordTypeId_DistribuidoresSAP</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Var_SelectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_SelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>NewLineFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!NewLine},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Apply Hierarchy to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitar aplicación de Jerarquía</label>
    <loops>
        <name>LoopHierarchies</name>
        <label>LoopHierarchies</label>
        <locationX>662</locationX>
        <locationY>654</locationY>
        <assignNextValueToReference>AccountHierarchyToLoop</assignNextValueToReference>
        <collectionReference>HierarchiesOnTargetAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSuperiorClient</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>LoopHierarchiesOnTarget</name>
        <label>LoopHierarchiesOnTarget</label>
        <locationX>274</locationX>
        <locationY>914</locationY>
        <assignNextValueToReference>LoopHierarchy</assignNextValueToReference>
        <collectionReference>HierarchiesOnTargetAccount</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignValuesOfHierarchy</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>List_Of_Hierarchies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRequestTrace</name>
        <label>CreateRequestTrace</label>
        <locationX>262</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>HierarchySentConfirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Solicitud de Jerarquizacion de: {!Account_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Account_id_to_hierarchy</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>CurrentAccountHasHierarchies</name>
        <label>CurrentAccountHasHierarchies?</label>
        <locationX>353</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Account_Has_Hierarchies</targetReference>
        </connector>
        <filters>
            <field>KS_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_id_to_hierarchy</elementReference>
            </value>
        </filters>
        <object>KS_Jerarquia_Cliente__c</object>
        <outputReference>HierarchiesPresentonCurrentAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>KS_ID_Jerarquia__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_details_to_Hierarchy</name>
        <label>Get Account details to Hierarchy</label>
        <locationX>210</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_CRM_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_id_to_hierarchy</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Account_canal</assignToReference>
            <field>KS_Canal__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_OrgVentas</assignToReference>
            <field>KS_CountOC__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Id_Salesforce</assignToReference>
            <field>KS_Id_Salesforce__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Account_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Hierarchies_from_Selected_Accounts</name>
        <label>Get Hierarchies from Selected Accounts</label>
        <locationX>810</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign</targetReference>
        </connector>
        <filters>
            <field>KS_Canal_de_distribucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <filters>
            <field>KS_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_NextClienteSuperior</elementReference>
            </value>
        </filters>
        <filters>
            <field>KS_Organizacion_de_ventas__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI10</stringValue>
            </value>
        </filters>
        <filters>
            <field>KS_Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <object>KS_Jerarquia_Cliente__c</object>
        <outputReference>AccountHierarchyToLoop</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>KS_Asignacion_de_jerarquia__c</queriedFields>
        <queriedFields>KS_Canal_de_distribucion__c</queriedFields>
        <queriedFields>KS_Canal_de_distribucion_superior__c</queriedFields>
        <queriedFields>KS_Cliente_Superior__c</queriedFields>
        <queriedFields>KS_Fin_de_validez_de_la_asignacion__c</queriedFields>
        <queriedFields>KS_ID_Jerarquia__c</queriedFields>
        <queriedFields>KS_Inicio_de_validez_de_la_asignacion__c</queriedFields>
        <queriedFields>KS_Organizacion_de_ventas__c</queriedFields>
        <queriedFields>KS_Organizacion_de_ventas_superior__c</queriedFields>
        <queriedFields>KS_Sector__c</queriedFields>
        <queriedFields>KS_Sector_superior__c</queriedFields>
        <queriedFields>KS_Nombre_Cliente_Superior__c</queriedFields>
        <queriedFields>KS_Nombre_Cliente__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Hierarchies_from_Selected_Accounts_0</name>
        <label>Get Hierarchies from Selected Accounts</label>
        <locationX>482</locationX>
        <locationY>812</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_without_Hierarchies</targetReference>
        </connector>
        <filters>
            <field>KS_Canal_de_distribucion__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <filters>
            <field>KS_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SelectedAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>KS_Organizacion_de_ventas__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI10</stringValue>
            </value>
        </filters>
        <filters>
            <field>KS_Sector__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </filters>
        <object>KS_Jerarquia_Cliente__c</object>
        <outputReference>HierarchiesOnTargetAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>KS_Asignacion_de_jerarquia__c</queriedFields>
        <queriedFields>KS_Canal_de_distribucion__c</queriedFields>
        <queriedFields>KS_Canal_de_distribucion_superior__c</queriedFields>
        <queriedFields>KS_Cliente_Superior__c</queriedFields>
        <queriedFields>KS_Fin_de_validez_de_la_asignacion__c</queriedFields>
        <queriedFields>KS_ID_Jerarquia__c</queriedFields>
        <queriedFields>KS_Inicio_de_validez_de_la_asignacion__c</queriedFields>
        <queriedFields>KS_Organizacion_de_ventas__c</queriedFields>
        <queriedFields>KS_Organizacion_de_ventas_superior__c</queriedFields>
        <queriedFields>KS_Sector__c</queriedFields>
        <queriedFields>KS_Sector_superior__c</queriedFields>
        <queriedFields>KS_Nombre_Cliente_Superior__c</queriedFields>
        <queriedFields>KS_Nombre_Cliente__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>197</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_to_Mirror_Hierarchy</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DeveloperNameRecordType_DistribuidoresSAP</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Var_RecordTypeId_DistribuidoresSAP</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSuperiorClient</name>
        <label>GetSuperiorClient</label>
        <locationX>871</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Superior_Hierarchies</targetReference>
        </connector>
        <filters>
            <field>KS_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountHierarchyToLoop.KS_Cliente_Superior__c</elementReference>
            </value>
        </filters>
        <object>KS_Jerarquia_Cliente__c</object>
        <outputAssignments>
            <assignToReference>var_NextClienteSuperior</assignToReference>
            <field>KS_Cliente_Superior__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetTargetAccountDetails</name>
        <label>GetTargetAccountDetails</label>
        <locationX>258</locationX>
        <locationY>802</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Hierarchies_from_Selected_Accounts_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SelectedAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Var_SelectedAccount_SFid</assignToReference>
            <field>KS_Id_Salesforce__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_SelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUserName</name>
        <label>GetUserName</label>
        <locationX>262</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendHierarchyEmailRequest</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Var_UserEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_to_Mirror_Hierarchy</name>
        <label>Account to Mirror Hierarchy</label>
        <locationX>451</locationX>
        <locationY>494</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Name_or_Id</targetReference>
        </connector>
        <fields>
            <name>SelectAccount</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Replicar Jerarquia de Cuenta&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectMsg</name>
            <fieldText>Indique nombre o Id-Salesforce de la cuenta de la cual quiere heredar la Jerarquía:</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>IdSalesforce_Name</name>
            <dataType>String</dataType>
            <fieldText>Nombre de Cuenta o Id-Salesforce</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmationHierarchy</name>
        <label>ConfirmationHierarchy</label>
        <locationX>253</locationX>
        <locationY>1103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>MsgDetailsHierarchy</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Detalles de Jerarquización Solicitados&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmBody</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A continuación se muestran los detalles de jerarquización solictados:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cuenta a Jerarquizar: &lt;B&gt;{!Account_Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cuenta de la que debe adquirirse la Jerarquía:  &lt;B&gt;{!Var_SelectedAccountName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Jerarquía de la cuenta seleccionada.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HierarchyTable}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmButton</name>
            <fieldText>Desea mandar la solicitud de jerarquización con estos detalles?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmar</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirmar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cuenta_sin_jerarqu_a</name>
        <label>Cuenta sin jerarquía</label>
        <locationX>593</locationX>
        <locationY>565</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_no_hierarchy</name>
            <fieldText>La cuenta seleccionada de donde deben de extraerse jerarquías a asignar a la cuenta {!Account_Name}, no tiene jerarquías o no son asignables a esta cuenta.
Por favor seleccione otra cuenta de la que extraer jerarquías.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_of_Hierarchy_Request</name>
        <label>End of Hierarchy Request</label>
        <locationX>470</locationX>
        <locationY>1197</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_HierarchyEnd</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Solicitud de Jerarquización Cancelada&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorHierarchyCancel</name>
            <fieldText>Su solicitud de Jerarquizar la cuenta: {!Account_Name}
ha sido desestimada.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Account_is_not_CRM</name>
        <label>Error Account is not CRM</label>
        <locationX>12</locationX>
        <locationY>189</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorAccountNotHierarchyable</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR. CUENTA NO JERARQUIZABLE&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorBody</name>
            <fieldText>La cuenta seleccionada, {!Account_Name} con Id: {!Account_Id_Salesforce}, no es jerarquizable ya que no se trata de una cuenta de tipo &apos;Distribuidores CRM&apos;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Account_is_not_CRM_hierarchies</name>
        <label>Error Account has hierarchies</label>
        <locationX>613</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorAccountNotHierarchyable_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;ERROR. CUENTA NO JERARQUIZABLE&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorBody_hierarchies</name>
            <fieldText>La cuenta seleccionada, {!Account_Name} con Id: {!Account_Id_Salesforce}, no es re-jerarquizable ya que actualmente ya contiene entradas de Jerarquía.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error_org</name>
        <label>Cuenta sin Marca comercial</label>
        <locationX>568</locationX>
        <locationY>58</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>marcacomercial</name>
            <fieldText>Las cuentas que no disponen de al menos una marca comercial Simon no pueden ser jerarquizadas mediante este sistema.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>HierarchySentConfirmation</name>
        <label>HierarchySentConfirmation</label>
        <locationX>266</locationX>
        <locationY>1600</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OKConfirm</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;SOLICITUD DE JERARQUIZACIÓN COMPLETADA&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OKBody</name>
            <fieldText>Su solicitud de jerarquización se ha completado con éxito.

Gracias,</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingAccounts</name>
        <label>MatchingAccounts</label>
        <locationX>181</locationX>
        <locationY>692</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTargetAccountDetails</targetReference>
        </connector>
        <fields>
            <name>MatchingAccountLst</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cuentas  coincidentes encontradas&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLstOptions</name>
            <choiceReferences>Account_Lst_Values_Name</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuentas</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingAccounts_byId</name>
        <label>MatchingAccounts_byId</label>
        <locationX>361</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetTargetAccountDetails</targetReference>
        </connector>
        <fields>
            <name>MatchingAccountLst_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Cuentas  coincidentes encontradas&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountLstOptions_byId</name>
            <choiceReferences>Account_Lst_Values_byId</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuentas</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Account_details_to_Hierarchy</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>List_Of_Hierarchies</name>
        <label>List Of Hierarchies</label>
        <locationX>475</locationX>
        <locationY>1102</locationY>
        <connector>
            <targetReference>ConfirmationHierarchy</targetReference>
        </connector>
        <flowName>Make_a_Table</flowName>
        <inputAssignments>
            <name>vHeader1Text</name>
            <value>
                <stringValue>Cliente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader2Text</name>
            <value>
                <stringValue>Organizacion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader3Text</name>
            <value>
                <stringValue>Canal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vHeader4Text</name>
            <value>
                <stringValue>Sector</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn1Values</name>
            <value>
                <elementReference>var_HierarchyCollection1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn2Values</name>
            <value>
                <elementReference>var_HierarchyCollection2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn3Values</name>
            <value>
                <elementReference>var_HierarchyCollection3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cvColumn4Values</name>
            <value>
                <elementReference>var_HierarchyCollection4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vColumn1Style</name>
            <value>
                <stringValue>width:440px</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vColumn2Style</name>
            <value>
                <stringValue>width:100px</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vColumn3Style</name>
            <value>
                <stringValue>width:80px</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vColumn4Style</name>
            <value>
                <stringValue>width:80px</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTableStyle</name>
            <value>
                <stringValue>width:700px</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>HierarchyTable</assignToReference>
            <name>TableHTMLOutput</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>Comma</name>
        <text>;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailMessage</name>
        <text>Solicitud de Jerarquización:

Solicitado por: {!Var_UserName}

Cuenta que se solicita Jerarquizar: 
Nombre: {!Account_Name}
Id-Salesforce: {!Account_Id_Salesforce}

Cuenta a la que se solicita asimiliar la Jerarquía:
Nombre: {!Var_SelectedAccountName}
Id-Salesforce: 

Jerarquía que se va a aplicar:

{!HierarchyTable}

Si esta de acuerdo con esta solicitud puede aplicar los cambios pulsando aquí.

De lo contrario pongase en contacto con el solicitante, {!Var_UserName} en su dirección de correo: {!Var_UserEmail}

Atentamente, 

Administrador Salesforce{!Var_SelectedAccount_SFid}</text>
    </textTemplates>
    <textTemplates>
        <description>Email Notification for Approval of Hierarchy</description>
        <name>EmailNotficacion</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Solicitud de Jerarquización:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Solicitado por: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Var_UserName}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cuenta que se solicita Jerarquizar: &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombre:&lt;B&gt; {!Account_Name}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Id-Salesforce: &lt;B&gt;{!Account_Id_Salesforce}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Cuenta a la que se solicita asimiliar la Jerarquía:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Nombre: &lt;B&gt;{!Var_SelectedAccountName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Id-Salesforce: &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Var_SelectedAccount_SFid}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Jerarquía que se va a aplicar:&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!HierarchyTable}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Si esta de acuerdo con esta solicitud puede aplicar los cambios pulsando &lt;A HREF=&quot;https://eu6.salesforce.com/flow/CreateAccountHierarchies?var_EmailToNotify={!Var_UserEmail}&amp;Var_SourceAccountId={!Var_SelectedAccountId}&amp;Var_TargetAccountId={!Account_id_to_hierarchy}&amp;retURL={!Account_id_to_hierarchy}&quot; TARGET=&quot;_blank&quot;&gt;aquí.&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;De lo contrario pongase en contacto con el solicitante, {!Var_UserName} en su dirección de correo: {!Var_UserEmail}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Atentamente, &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Administrador Salesforce&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NewLine</name>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>Account_canal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Id_Salesforce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_id_to_hierarchy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0013E00000J1Efp</stringValue>
        </value>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountHierarchyToLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <description>List of Hierarchies on the Selected Account</description>
        <name>HierarchiesOnTargetAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <description>Var to hold hierarchies of the Current Account which we want to hierarchy</description>
        <name>HierarchiesPresentonCurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <name>HierarchyDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HierarchyTable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopHierarchy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_DeveloperNameRecordType_DistribuidoresSAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>KS_Distribuidores_SAP</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_HierarchyCollection1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_HierarchyCollection2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_HierarchyCollection3</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_HierarchyCollection4</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_NextClienteSuperior</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OrgVentas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Var_RecordTypeId_DistribuidoresSAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SelectedAccount_SFid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SelectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
