src/flows/Conversor_de_Obra_de_Construdato_a_Oportunidad.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Mensaje_de_Error_flujo_Conversor_de_Obra_de_Construdatos_a_Oportunidad</name>
        <label>Mensaje de Error flujo Conversor de Obra de Construdatos a Oportunidad</label>
        <locationX>678</locationX>
        <locationY>99</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MensajeDeError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Mensaje de Error flujo: Conversor de obra de construdatos a oportunidad</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>epelaz@simon.es</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>cincoestrellas</name>
        <choiceText>*****</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>*****</stringValue>
        </value>
    </choices>
    <choices>
        <name>cuatroestrellas</name>
        <choiceText>****</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>****</stringValue>
        </value>
    </choices>
    <choices>
        <name>DosEstrellas</name>
        <choiceText>**</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>**</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ningun_Pais</name>
        <choiceText>{!Var_Pais}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_Pais</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ningun_Scoring</name>
        <choiceText>{!Var_Scoring}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_Scoring</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ningun_Segmento</name>
        <choiceText>{!Var_Segmento}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_Segmento</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ningun_Tipo_de_Edificio</name>
        <choiceText>{!Var_TipoEdificio}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_TipoEdificio</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ninguna_Fase</name>
        <choiceText>{!Var_Fase}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_Fase</elementReference>
        </value>
    </choices>
    <choices>
        <name>Ninguna_Linea_de_negocio</name>
        <choiceText>{!Var_LineaNegocio}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Var_LineaNegocio</elementReference>
        </value>
    </choices>
    <choices>
        <name>TresEstrellas</name>
        <choiceText>***</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>***</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnaEstrella</name>
        <choiceText>*</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>*</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Se_seleccionan_datos_en_blanco</name>
        <label>Se seleccionan datos en blanco</label>
        <locationX>395</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Obra</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Los datos son correctos</defaultConnectorLabel>
        <rules>
            <name>Hay_datos_en_blanco_selecciones_por_defecto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Segmento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>L_nea_de_negocio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scoring</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Pa_s</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tipo_de_edificio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_por_defecto_incorrectos</targetReference>
            </connector>
            <label>Hay datos en blanco - selecciones por defecto</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Fase_lst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_Fase__c</picklistField>
        <picklistObject>KS_Obra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Linea_de_negocio_lst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_L_nea_de_negocio__c</picklistField>
        <picklistObject>KS_Obra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pais_Lst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_Pais_oportunidad__c</picklistField>
        <picklistObject>KS_Obra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scoring_lst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_Scoring__c</picklistField>
        <picklistObject>KS_Obra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Segmento_lst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_Segmento__c</picklistField>
        <picklistObject>KS_Obra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipodeEdificio_lst</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SI_SubSegmento__c</picklistField>
        <picklistObject>KS_Obra__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Conversor de Obra de Construdato a Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Conversor de Obra de Construdato a Oportunidad</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Obra_details</name>
        <label>Get Obra details</label>
        <locationX>178</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Datos_de_la_obra</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ObraId</elementReference>
            </value>
        </filters>
        <object>KS_Obra__c</object>
        <outputAssignments>
            <assignToReference>Var_CodigoPostal</assignToReference>
            <field>KS_Codigo_postal_oportunidad__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Fase</assignToReference>
            <field>KS_Fase__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_LineaNegocio</assignToReference>
            <field>KS_L_nea_de_negocio__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Pais</assignToReference>
            <field>KS_Pais_oportunidad__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Scoring</assignToReference>
            <field>KS_Scoring__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Segmento</assignToReference>
            <field>KS_Segmento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_NombreObra</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_TipoEdificio</assignToReference>
            <field>SI_SubSegmento__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_recordtypeId</name>
        <label>Search recordtypeId</label>
        <locationX>176</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Obra_details</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>KS_Oportunidades</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Var_RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Obra</name>
        <label>Actualizar Obra</label>
        <locationX>623</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>Conversi_n_finalizada</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Mensaje_de_Error_flujo_Conversor_de_Obra_de_Construdatos_a_Oportunidad</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ObraId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KS_Codigo_postal_oportunidad__c</field>
            <value>
                <elementReference>C_digo_Postal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Coordinador__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Fase__c</field>
            <value>
                <elementReference>Fase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Fecha_conversion__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_L_nea_de_negocio__c</field>
            <value>
                <elementReference>L_nea_de_negocio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Pais_oportunidad__c</field>
            <value>
                <elementReference>Pa_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Scoring__c</field>
            <value>
                <elementReference>Scoring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Segmento__c</field>
            <value>
                <elementReference>Segmento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Usuario_conversor__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Var_RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SI_SubSegmento__c</field>
            <value>
                <elementReference>Tipo_de_edificio</elementReference>
            </value>
        </inputAssignments>
        <object>KS_Obra__c</object>
    </recordUpdates>
    <screens>
        <name>Conversi_n_finalizada</name>
        <label>Conversión finalizada</label>
        <locationX>862</locationX>
        <locationY>379</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgUser2</name>
            <fieldText>La obra {!Var_NombreObra} se ha convertido satisfactóriamente de Construdatos a Oportunidad.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_de_la_obra</name>
        <label>Datos de la obra</label>
        <locationX>183</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Se_seleccionan_datos_en_blanco</targetReference>
        </connector>
        <fields>
            <name>Fase</name>
            <choiceReferences>Fase_lst</choiceReferences>
            <choiceReferences>Ninguna_Fase</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ninguna_Fase</defaultSelectedChoiceReference>
            <fieldText>Fase</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>L_nea_de_negocio</name>
            <choiceReferences>Linea_de_negocio_lst</choiceReferences>
            <choiceReferences>Ninguna_Linea_de_negocio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ninguna_Linea_de_negocio</defaultSelectedChoiceReference>
            <fieldText>Línea de negocio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Segmento</name>
            <choiceReferences>Segmento_lst</choiceReferences>
            <choiceReferences>Ningun_Segmento</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ningun_Segmento</defaultSelectedChoiceReference>
            <fieldText>Segmento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tipo_de_edificio</name>
            <choiceReferences>TipodeEdificio_lst</choiceReferences>
            <choiceReferences>Ningun_Tipo_de_Edificio</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ningun_Tipo_de_Edificio</defaultSelectedChoiceReference>
            <fieldText>Tipo de edificio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>C_digo_Postal</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_CodigoPostal</elementReference>
            </defaultValue>
            <fieldText>Código Postal</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pa_s</name>
            <choiceReferences>Pais_Lst</choiceReferences>
            <choiceReferences>Ningun_Pais</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ningun_Pais</defaultSelectedChoiceReference>
            <fieldText>País</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Scoring</name>
            <choiceReferences>Ningun_Scoring</choiceReferences>
            <choiceReferences>UnaEstrella</choiceReferences>
            <choiceReferences>DosEstrellas</choiceReferences>
            <choiceReferences>TresEstrellas</choiceReferences>
            <choiceReferences>cuatroestrellas</choiceReferences>
            <choiceReferences>cincoestrellas</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Ningun_Scoring</defaultSelectedChoiceReference>
            <fieldText>Scoring</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Datos_por_defecto_incorrectos</name>
        <label>Datos por defecto incorrectos</label>
        <locationX>392</locationX>
        <locationY>179</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgError1</name>
            <fieldText>Algunos de los valores seleccionados por defecto estan en blanco, por favor revise los valores para:
* Segmento
* Tipo de Edificio
* Fase
* Línea de Negocio
* Scoring
* País</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Search_recordtypeId</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>MensajeDeError</name>
        <text>Se ha producido el siguiente error en el flujo: Conversor de Obra de Construdatos a Oportunidad.

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>Var_CodigoPostal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Fase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_LineaNegocio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_NombreObra</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Test Id: a005800000PoGS8</description>
        <name>Var_ObraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a005800000PoGS8</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Pais</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Scoring</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Segmento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_TipoEdificio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
