src/flows/CreateAccountHierarchies.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Msg_Account_HAS_Hierarchies</name>
        <label>Error Msg Account HAS Hierarchies</label>
        <locationX>124</locationX>
        <locationY>370</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ErrorMSGTrace</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AccountHasHierarchies</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>La cuenta, {!var_TargetAccountName}, no ha sido jerarquizada.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>customers@kaizenstep.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendLog</name>
        <label>SendLog</label>
        <locationX>183</locationX>
        <locationY>639</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>CreateTaskRecord</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hierarchy Creation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>eberenguer@kaizenstep.com, epelaz@simon.es, psamo@simon.es</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>ConstructHierarchyArray</name>
        <label>ConstructHierarchyArray</label>
        <locationX>602</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>HierarchiesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountHierarchiesLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReadAccountHierarchies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HierarchyData</name>
        <label>HierarchyData</label>
        <locationX>810</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>AccountHierarchiesLoop.KS_Cliente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_TargetAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountHierarchiesLoop.KS_ID_Jerarquia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateHierarchyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConstructHierarchyArray</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>prueba</name>
        <label>prueba</label>
        <locationX>186</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>varDisplayText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountHierarchiesLoop.KS_ID_Jerarquia__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewHierarchies</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hierarchies_by_Org</name>
        <label>Hierarchies by Org</label>
        <locationX>601</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>ReadAccountHierarchies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Has_Simon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountHierarchiesLoop.KS_Organizacion_de_ventas__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SI10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_HasSimon</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HierarchyData</targetReference>
            </connector>
            <label>Has Simon</label>
        </rules>
        <rules>
            <name>KS_Has_Fluvia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountHierarchiesLoop.KS_Organizacion_de_ventas__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FL31</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_HasFluvia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HierarchyData</targetReference>
            </connector>
            <label>Has Fluvia</label>
        </rules>
    </decisions>
    <decisions>
        <name>KS_Continue</name>
        <label>Continue</label>
        <locationX>796</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>KS_confirmar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TargetAccountHasHierarchiesCheck</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>TargetAccountHasHierarchiesCheck</name>
        <label>TargetAccountHasHierarchiesCheck</label>
        <locationX>348</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Error_Msg_Account_HAS_Hierarchies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Target Account HAS Hierarchies</defaultConnectorLabel>
        <rules>
            <name>Target_Account_Has_No_Hierarchies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TargetAccountHierarchies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReadAccountHierarchies</targetReference>
            </connector>
            <label>Target Account Has No Hierarchies</label>
        </rules>
    </decisions>
    <formulas>
        <name>CreateHierarchyId</name>
        <dataType>String</dataType>
        <expression>{!var_TargetAccountName}&amp;&quot;_&quot;&amp;TEXT({!AccountHierarchiesLoop.KS_Organizacion_de_ventas__c})&amp;&quot;_&quot;&amp;TEXT({!AccountHierarchiesLoop.KS_Canal_de_distribucion__c})&amp;&quot;_&quot;&amp;TEXT({!AccountHierarchiesLoop.KS_Sector__c})&amp;&quot;_dakota&quot;</expression>
    </formulas>
    <interviewLabel>CreateAccountHierarchies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación de Jerarquías Solicitadas</label>
    <loops>
        <name>ReadAccountHierarchies</name>
        <label>ReadAccountHierarchies</label>
        <locationX>349</locationX>
        <locationY>504</locationY>
        <assignNextValueToReference>AccountHierarchiesLoop</assignNextValueToReference>
        <collectionReference>SourceAccountHierarchies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Hierarchies_by_Org</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>prueba</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewHierarchies</name>
        <label>CreateNewHierarchies</label>
        <locationX>36</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>SendLog</targetReference>
        </connector>
        <inputReference>HierarchiesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateTaskRecord</name>
        <label>CreateTaskRecord</label>
        <locationX>186</locationX>
        <locationY>742</locationY>
        <connector>
            <targetReference>KS_Finalizacion</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Nuevas entradas de Jerarquía han sido creadas para la cuenta: {!var_TargetAccountName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Var_TargetAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>ErrorMSGTrace</name>
        <label>ErrorMSGTrace</label>
        <locationX>3</locationX>
        <locationY>369</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>AccountHasHierarchies</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>La solicitud de creación de Jerarquia no se ha completado para la cuenta: {!var_TargetAccountName}</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetSourceAccountDetails</name>
        <label>GetSourceAccountDetails</label>
        <locationX>493</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TargetAccountHasHierarchies</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SourceAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Var_SourceAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSourceAccountHierarchies</name>
        <label>GetSourceAccountHierarchies</label>
        <locationX>342</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSourceAccountDetails</targetReference>
        </connector>
        <filters>
            <field>KS_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SourceAccountId</elementReference>
            </value>
        </filters>
        <object>KS_Jerarquia_Cliente__c</object>
        <outputReference>SourceAccountHierarchies</outputReference>
        <queriedFields>KS_Asignacion_de_jerarquia__c</queriedFields>
        <queriedFields>KS_Canal_de_distribucion__c</queriedFields>
        <queriedFields>KS_Canal_de_distribucion_superior__c</queriedFields>
        <queriedFields>KS_Cliente_Superior__c</queriedFields>
        <queriedFields>KS_Fin_de_validez_de_la_asignacion__c</queriedFields>
        <queriedFields>KS_Inicio_de_validez_de_la_asignacion__c</queriedFields>
        <queriedFields>KS_Organizacion_de_ventas__c</queriedFields>
        <queriedFields>KS_Organizacion_de_ventas_superior__c</queriedFields>
        <queriedFields>KS_Sector__c</queriedFields>
        <queriedFields>KS_Sector_superior__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetTargetAccountDetails</name>
        <label>GetTargetAccountDetails</label>
        <locationX>346</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasSimon</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_TargetAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_TargetAccountSalesforceId</assignToReference>
            <field>KS_Id_Salesforce__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_TargetAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetUserData</name>
        <label>GetUserData</label>
        <locationX>340</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSourceAccountHierarchies</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EmailToNotify</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Var_UserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Has_Fluvia</name>
        <label>Has Fluvia</label>
        <locationX>645</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmacion</targetReference>
        </connector>
        <filters>
            <field>KS_Cliente_solicitante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_TargetAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>KS_Organizacion_de_ventas__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FL31</stringValue>
            </value>
        </filters>
        <object>KS_Organizacion_Cliente__c</object>
        <outputAssignments>
            <assignToReference>Var_HasFluvia</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>HasSimon</name>
        <label>HasSimon</label>
        <locationX>498</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Fluvia</targetReference>
        </connector>
        <filters>
            <field>KS_Cliente_solicitante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_TargetAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>KS_Organizacion_de_ventas__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SI10</stringValue>
            </value>
        </filters>
        <object>KS_Organizacion_Cliente__c</object>
        <outputAssignments>
            <assignToReference>var_HasSimon</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>TargetAccountHasHierarchies</name>
        <label>TargetAccountHasHierarchies?</label>
        <locationX>346</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTargetAccountDetails</targetReference>
        </connector>
        <filters>
            <field>KS_Cliente__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_TargetAccountId</elementReference>
            </value>
        </filters>
        <object>KS_Jerarquia_Cliente__c</object>
        <outputReference>TargetAccountHierarchies</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirmacion</name>
        <label>Confirmación</label>
        <locationX>795</locationX>
        <locationY>274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>KS_Continue</targetReference>
        </connector>
        <fields>
            <name>Aviso</name>
            <fieldText>Van a crearse las entradas de Jerarquía para la cuenta:
Cuenta destino: {!var_TargetAccountName}

Tomando como referencia las jerarquias de la cuenta: 
Cuenta origen: {!Var_SourceAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KS_confirmar</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirmar</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>955</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeNo</name>
            <fieldText>Sin su confirmación no se ha realizado ninguna acción.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KS_Finalizacion</name>
        <label>Finalización</label>
        <locationX>187</locationX>
        <locationY>855</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensageFinal</name>
            <fieldText>Se han creado las entradas de Jerarquía solicitadas para la cuenta {!var_TargetAccountName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>mostrar</name>
        <label>mostrar</label>
        <locationX>35</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>id</name>
            <fieldText>{!varDisplayText}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>GetUserData</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AccountHasHierarchies</name>
        <text>A su atención, 

El sistema ha parado la creación de las jerarquías ya que la cuenta de 
destino ({!var_TargetAccountName} - {!var_TargetAccountSalesforceId}) ya tiene jerarquías pre-existentes.

Administrador,</text>
    </textTemplates>
    <textTemplates>
        <description>Mensaje de Confirmación</description>
        <name>Message</name>
        <text>A su atención, 

Las entradas de Jerarquía solicitadas han sido creadas para la cuenta {!var_TargetAccountName}.

Atentamente, 

Administrador</text>
    </textTemplates>
    <variables>
        <name>AccountHierarchiesLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <name>HierarchiesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <name>SourceAccountHierarchies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <name>TargetAccountHierarchies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>KS_Jerarquia_Cliente__c</objectType>
    </variables>
    <variables>
        <name>var_EmailToNotify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_HasFluvia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_HasSimon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SourceAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SourceAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_TargetAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TargetAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TargetAccountSalesforceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
