src/flows/EmailSend.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>Consentimiento_mail</name>
        <label>Consentimiento_mail</label>
        <locationX>442</locationX>
        <locationY>566</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>Txt_Consentimiento</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Información sobre tratamientos de datos de SIMON</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Save As Activity</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Target Object Id</name>
            <value>
                <elementReference>Var_LeadId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>noreply@simonelectric.com</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>Rechazo_mail</name>
        <label>Rechazo_mail</label>
        <locationX>787</locationX>
        <locationY>560</locationY>
        <apexClass>sendHTMLEmailPlugin</apexClass>
        <inputParameters>
            <name>htmlBody</name>
            <value>
                <elementReference>Txt_Rechazo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Información sobre tratamientos de datos de SIMON</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Save As Activity</name>
            <value>
                <stringValue>true</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Target Object Id</name>
            <value>
                <elementReference>Var_LeadId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OrgWideEmailAddress</name>
            <value>
                <stringValue>noreply@simonelectric.com</stringValue>
            </value>
        </inputParameters>
    </apexPluginCalls>
    <decisions>
        <name>Lead_OR_Contact</name>
        <label>Lead OR Contact</label>
        <locationX>628</locationX>
        <locationY>160</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_LeadId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Details</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_LeadId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Details</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mandar_correo_de_rechazo_o_consentimiento</name>
        <label>Mandar correo de rechazo o consentimiento</label>
        <locationX>625</locationX>
        <locationY>423</locationY>
        <defaultConnectorLabel>Defecto</defaultConnectorLabel>
        <rules>
            <name>Consentimiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Consentimiento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Rechazo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consentimiento_mail</targetReference>
            </connector>
            <label>Consentimiento</label>
        </rules>
        <rules>
            <name>Rechazo_dcs</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Var_Consentimiento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Rechazo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Consentimiento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_Rechazo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rechazo_mail</targetReference>
            </connector>
            <label>Rechazo</label>
        </rules>
    </decisions>
    <interviewLabel>EmailSend {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailSend</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>764</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mandar_correo_de_rechazo_o_consentimiento</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Var_Consentimiento</assignToReference>
            <field>SI_Consiente_tratamiento_de_datos__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Rechazo</assignToReference>
            <field>SI_Rechaza_comunicaciones__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>510</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mandar_correo_de_rechazo_o_consentimiento</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Var_Consentimiento</assignToReference>
            <field>KS_Consentimiento__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Rechazo</assignToReference>
            <field>KS_RechazoComunicaciones__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lead_OR_Contact</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Correo de aceptación de condiciones</description>
        <name>Aceptacion</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Estimado cliente,&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Le informamos que sus datos personales (datos de contacto y datos profesionales) serán tratados por SIMON, S.A.U. (en adelante SIMON), con domicilio en Diputación 390-392, 08013, Barcelona, con la finalidad de gestionar la relación comercial existente entre las partes. La base jurídica para dicho tratamiento de datos es el desarrollo de dicha relación.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Gracias a que lo ha autorizado expresamente, sus datos podrán ser tratados con la finalidad de remitirle, por cualquier medio incluyendo el electrónico, información sobre los productos y/o servicios prestados por las empresas de Grupo SIMON. Esto es, novedades y catálogos de productos, promociones, información sobre nuestra actividad. Podrá oponerse, en cualquier momento, mediante correo electrónico a dpo@simonelectric.com.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sus datos serán conservados durante el periodo de vigencia de la relación entre las partes y, una vez finalizada, en caso de ser necesario, se conservarán, debidamente bloqueados, durante todo el tiempo en que resulte necesaria su conservación para atender a los requerimientos legales aplicables.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sus datos únicamente podrán ser comunicados a las empresas de Grupo Simon con sede en el Espacio Económico Europeo (&lt;A HREF=&quot;http://www.simonelectric.com&quot; TARGET=&quot;_blank&quot;&gt;www.simonelectric.com&lt;/A&gt;) exclusivamente para las finalidades que han sido anteriormente informadas, dado que dicha cesión puede ser necesaria para el desarrollo de la relación comercial en función de los productos o servicios que puedan ser de su interés. Podrá oponerse, en cualquier momento, mediante correo electrónico a dpo@simonelectric.com.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Podrá ejercer sus derechos dirigiéndose al Delegado de Protección de Datos, en la dirección postal o electrónica mencionada. También le informamos de la opción de presentar una reclamación ante la Agencia Española de Protección de Datos, en caso de considerar que se ha cometido una infracción de la legislación respecto al tratamiento de sus datos personales.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Plantilla de rechazo de comunicaciones</description>
        <name>Rechazo</name>
        <text>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Estimado cliente,&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Le informamos que sus datos personales (datos de contacto y datos profesionales) serán tratados por SIMON, S.A.U. (en adelante SIMON), con domicilio en Diputación 390-392, 08013, Barcelona, con la finalidad de gestionar la relación comercial existente entre las partes. La base jurídica para dicho tratamiento de datos es el desarrollo de dicha relación.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Tal y como ha indicado, sus datos no serán tratados con la finalidad de remitirle, por cualquier medio incluyendo el electrónico, información sobre los productos y/o servicios prestados por las empresas de Grupo SIMON. Esto es, novedades y catálogos de productos, promociones, información sobre nuestra actividad. Podrá oponerse, en cualquier momento, mediante correo electrónico a dpo@simonelectric.com.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sus datos serán conservados durante el periodo de vigencia de la relación entre las partes y, una vez finalizada, en caso de ser necesario, se conservarán, debidamente bloqueados, durante todo el tiempo en que resulte necesaria su conservación para atender a los requerimientos legales aplicables.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Sus datos únicamente podrán ser comunicados a las empresas de Grupo Simon con sede en el Espacio Económico Europeo (&lt;A HREF=&quot;http://www.simonelectric.com&quot; TARGET=&quot;_blank&quot;&gt;www.simonelectric.com&lt;/A&gt;) exclusivamente para las finalidades que han sido anteriormente informadas, dado que dicha cesión puede ser necesaria para el desarrollo de la relación comercial en función de los productos o servicios que puedan ser de su interés. Podrá oponerse, en cualquier momento, mediante correo electrónico a dpo@simonelectric.com.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Podrá ejercer sus derechos dirigiéndose al Delegado de Protección de Datos, en la dirección postal o electrónica mencionada. También le informamos de la opción de presentar una reclamación ante la Agencia Española de Protección de Datos, en caso de considerar que se ha cometido una infracción de la legislación respecto al tratamiento de sus datos personales.&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <name>Txt_Consentimiento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;html&gt;&lt;head&gt;    &lt;title&gt;&lt;/title&gt;    &lt;meta content=&quot;text/html; charset=UTF-8&quot; http-equiv=&quot;Content-Type&quot;/&gt;    &lt;style type=&quot;text/css&quot;&gt;        body {margin:0; padding:0;}        table {border-spacing:0;}        table td {border-collapse:collapse;}    &lt;/style&gt;&lt;/head&gt;&lt;body style=&quot;margin:0; padding:10px 0;&quot; leftmargin=&quot;0&quot; topmargin=&quot;0&quot; marginwidth=&quot;0&quot; marginheight=&quot;0&quot; bgcolor=&quot;#ffffff&quot;&gt;&lt;table align=&quot;center&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; width=&quot;640&quot; bgcolor=&quot;#ffffff&quot;&gt;    &lt;tr&gt;        &lt;td width=&quot;20&quot;&gt;&lt;/td&gt;        &lt;td width=&quot;600&quot;&gt;&lt;/td&gt;        &lt;td width=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr bgcolor=&quot;#e4e4e0&quot;&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td height=&quot;60&quot;&gt;            &lt;p style=&quot;color:#575756; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:14px; margin:0; line-height:24px; text-align: center;&quot;&gt;Si no visualiza correctamente este correo pulse &lt;a href=&quot;https://simon.secure.force.com/consentimiento/&quot; target=&quot;_blank&quot; style=&quot;color:#0060a2; font-weight: bold;&quot;&gt;aquí&lt;/a&gt;&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr bgcolor=&quot;#177cb9&quot; style=&quot;background: #177cb9 url(&apos;https://c.eu6.visual.force.com/resource/1531404327000/gratientbartop&apos;) no-repeat center center; background-size: cover;&quot;&gt;        &lt;td colspan=&quot;3&quot; height=&quot;6&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- color_line --&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;60&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/simon&quot; alt=&quot;Simon&quot; width=&quot;86&quot; /&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;60&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Estimado cliente,&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;30&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Le informamos que sus datos personales (datos de contacto y datos profesionales) serán tratados por SIMON, S.A.U. (en adelante SIMON), con domicilio en Diputación 390-392, 08013, Barcelona, con la finalidad de gestionar la relación comercial existente entre las partes. La base jurídica para dicho tratamiento de datos es el desarrollo de dicha relación.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Gracias a que lo ha autorizado expresamente, sus datos podrán ser tratados con la finalidad de remitirle, por cualquier medio incluyendo el electrónico, información sobre los productos y/o servicios prestados por las empresas de Grupo SIMON. Podrá oponerse, en cualquier momento, mediante correo electrónico a &lt;a href=&quot;mailto:dpo@simonelectric.com&quot; style=&quot;color:#0060a2; font-weight: bold; text-decoration:none;&quot;&gt;dpo@simonelectric.com&lt;/a&gt;&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Sus datos serán conservados durante el periodo de vigencia de la relación entre las partes y, una vez finalizada, en caso de ser necesario, se conservarán, debidamente bloqueados, durante todo el tiempo en que resulte necesaria su conservación para atender a los requerimientos legales aplicables.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Sus datos únicamente podrán ser comunicados a las empresas de Grupo Simon con sede en el Espacio Económico Europeo &lt;a href=&quot;https://www.simonelectric.com&quot; target=&quot;_blank&quot; style=&quot;color:#0060a2; font-weight: bold; text-decoration:none;&quot;&gt;www.simonelectric.com&lt;/a&gt; exclusivamente para las finalidades que han sido anteriormente informadas, dado que dicha cesión puede ser necesaria para el desarrollo de la relación comercial en función de los productos o servicios que puedan ser de su interés. Podrá oponerse, en cualquier momento, mediante correo electrónico a &lt;a href=&quot;mailto:dpo@simonelectric.com&quot; style=&quot;color:#0060a2; font-weight: bold; text-decoration:none;&quot;&gt;dpo@simonelectric.com&lt;/a&gt;&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- color_line --&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Podrá ejercer sus derechos dirigiéndose al Delegado de Protección de Datos, en la dirección postal o electrónica mencionada. También le informamos de la opción de presentar una reclamación ante la Agencia Española de Protección de Datos, en caso de considerar que se ha cometido una infracción de la legislación respecto al tratamiento de sus datos personales.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;30&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Reciba un cordial saludo.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;80&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr bgcolor=&quot;#177cb9&quot; style=&quot;background: #177cb9 url(&apos;https://c.eu6.visual.force.com/resource/1531404326000/gradientbarbottom&apos;) no-repeat center center; background-size: cover;&quot;&gt;        &lt;td height=&quot;175&quot;&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;text-align: center; font-size: 0; margin:0;&quot;&gt;                &lt;a href=&quot;https://www.simonelectric.com/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; vertical-align: middle; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:14px; color: white; text-decoration:none; padding: 0 10px; margin-right: 8px; border-right:1px solid white;&quot;&gt;simonelectric.com&lt;/a&gt;                &lt;a href=&quot;https://www.facebook.com/SimonElectricES/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_fb&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialfb&quot; alt=&quot;Simon: Facebook&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://twitter.com/SimonElectricES&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_tw&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialtw&quot; alt=&quot;Simon: Twitter&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://www.youtube.com/user/SimonElectricity&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_yt&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialyt&quot; alt=&quot;Simon: YouTube&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://www.instagram.com/simonelectric/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_ig&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialig&quot; alt=&quot;Simon: Instagram&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://www.linkedin.com/company/simon/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_in&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialin&quot; alt=&quot;Simon: Linkedin&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;            &lt;/p&gt;            &lt;br/&gt;            &lt;p style=&quot;font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:12px; color: white; text-align: center; margin:0;&quot;&gt;SIMON S.A.U. l Diputación 390-392 l 08103 Barcelona, España.&lt;/p&gt;            &lt;br/&gt;            &lt;p style=&quot;font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:12px; color: white; text-align: center; margin:0;&quot;&gt;Permission Marketing: Simon se compromete con la &lt;a href=&quot;https://www.simonelectric.com/aviso-legal&quot; target=&quot;_blank&quot; style=&quot;color: white;&quot;&gt;protección de la privacidad de sus datos&lt;/a&gt;&lt;br/&gt;© Simon, 2018, todos los derechos reservados.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- color_line --&gt;&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Txt_Rechazo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;html&gt;&lt;head&gt;    &lt;title&gt;&lt;/title&gt;    &lt;meta content=&quot;text/html; charset=UTF-8&quot; http-equiv=&quot;Content-Type&quot;/&gt;    &lt;style type=&quot;text/css&quot;&gt;        body {margin:0; padding:0;}        table {border-spacing:0;}        table td {border-collapse:collapse;}    &lt;/style&gt;&lt;/head&gt;&lt;body style=&quot;margin:0; padding:10px 0;&quot; leftmargin=&quot;0&quot; topmargin=&quot;0&quot; marginwidth=&quot;0&quot; marginheight=&quot;0&quot; bgcolor=&quot;#ffffff&quot;&gt;&lt;table align=&quot;center&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; border=&quot;0&quot; width=&quot;640&quot; bgcolor=&quot;#ffffff&quot;&gt;    &lt;tr&gt;        &lt;td width=&quot;20&quot;&gt;&lt;/td&gt;        &lt;td width=&quot;600&quot;&gt;&lt;/td&gt;        &lt;td width=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr bgcolor=&quot;#e4e4e0&quot;&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td height=&quot;60&quot;&gt;            &lt;p style=&quot;color:#575756; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:14px; margin:0; line-height:24px; text-align: center;&quot;&gt;Si no visualiza correctamente este correo pulse &lt;a href=&quot;http://simon.force.com/rechazo&quot; target=&quot;_blank&quot; style=&quot;color:#0060a2; font-weight: bold;&quot;&gt;aquí&lt;/a&gt;&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr bgcolor=&quot;#177cb9&quot; style=&quot;background: #177cb9 url(&apos;https://c.eu6.visual.force.com/resource/1531404327000/gratientbartop&apos;) no-repeat center center; background-size: cover;&quot;&gt;        &lt;td colspan=&quot;3&quot; height=&quot;6&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- color_line --&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;60&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/simon&quot; alt=&quot;Simon&quot; width=&quot;86&quot; /&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;60&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Estimado cliente,&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;30&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Le informamos que sus datos personales (datos de contacto y datos profesionales) serán tratados por SIMON, S.A.U. (en adelante SIMON), con domicilio en Diputación 390-392, 08013, Barcelona, con la finalidad de gestionar la relación comercial existente entre las partes. La base jurídica para dicho tratamiento de datos es el desarrollo de dicha relación.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Tal y como ha indicado, sus datos no serán tratados con la finalidad de remitirle, por cualquier medio incluyendo el electrónico, información sobre los productos y/o servicios prestados por las empresas de Grupo SIMON. Esto es, novedades y catálogos de productos, promociones, información sobre nuestra actividad. Podrá oponerse, en cualquier momento, mediante correo electrónico a &lt;a href=&quot;mailto:dpo@simonelectric.com&quot; style=&quot;color:#0060a2; font-weight: bold; text-decoration:none;&quot;&gt;dpo@simonelectric.com&lt;/a&gt;&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Sus datos serán conservados durante el periodo de vigencia de la relación entre las partes y, una vez finalizada, en caso de ser necesario, se conservarán, debidamente bloqueados, durante todo el tiempo en que resulte necesaria su conservación para atender a los requerimientos legales aplicables.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Sus datos únicamente podrán ser comunicados a las empresas de Grupo Simon con sede en el Espacio Económico Europeo &lt;a href=&quot;https://www.simonelectric.com&quot; target=&quot;_blank&quot; style=&quot;color:#0060a2; font-weight: bold; text-decoration:none;&quot;&gt;www.simonelectric.com&lt;/a&gt; exclusivamente para las finalidades que han sido anteriormente informadas, dado que dicha cesión puede ser necesaria para el desarrollo de la relación comercial en función de los productos o servicios que puedan ser de su interés. Podrá oponerse, en cualquier momento, mediante correo electrónico a &lt;a href=&quot;mailto:dpo@simonelectric.com&quot; style=&quot;color:#0060a2; font-weight: bold; text-decoration:none;&quot;&gt;dpo@simonelectric.com&lt;/a&gt;&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- color_line --&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;20&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Podrá ejercer sus derechos dirigiéndose al Delegado de Protección de Datos, en la dirección postal o electrónica mencionada. También le informamos de la opción de presentar una reclamación ante la Agencia Española de Protección de Datos, en caso de considerar que se ha cometido una infracción de la legislación respecto al tratamiento de sus datos personales.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;30&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr&gt;        &lt;td&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;color:#448abb; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:16px; margin:0; line-height:24px;&quot;&gt;Reciba un cordial saludo.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt;    &lt;tr&gt;        &lt;td colspan=&quot;3&quot; height=&quot;80&quot;&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- ws --&gt;    &lt;tr bgcolor=&quot;#177cb9&quot; style=&quot;background: #177cb9 url(&apos;https://c.eu6.visual.force.com/resource/1531404326000/gradientbarbottom&apos;) no-repeat center center; background-size: cover;&quot;&gt;        &lt;td height=&quot;175&quot;&gt;&lt;/td&gt;        &lt;td&gt;            &lt;p style=&quot;text-align: center; font-size: 0; margin:0;&quot;&gt;                &lt;a href=&quot;https://www.simonelectric.com/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; vertical-align: middle; font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:14px; color: white; text-decoration:none; padding: 0 10px; margin-right: 8px; border-right:1px solid white;&quot;&gt;simonelectric.com&lt;/a&gt;                &lt;a href=&quot;https://www.facebook.com/SimonElectricES/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_fb&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialfb&quot; alt=&quot;Simon: Facebook&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://twitter.com/SimonElectricES&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_tw&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialtw&quot; alt=&quot;Simon: Twitter&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://www.youtube.com/user/SimonElectricity&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_yt&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialyt&quot; alt=&quot;Simon: YouTube&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://www.instagram.com/simonelectric/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_ig&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialig&quot; alt=&quot;Simon: Instagram&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;                &lt;a href=&quot;https://www.linkedin.com/company/simon/&quot; target=&quot;_blank&quot; style=&quot;display:inline-block; width:18px; height:18px; vertical-align: middle; padding: 0 2px;&quot; class=&quot;social_in&quot;&gt;&lt;img src=&quot;https://c.eu6.visual.force.com/resource/1531404327000/socialin&quot; alt=&quot;Simon: Linkedin&quot; width=&quot;18&quot; height=&quot;18&quot;&gt;&lt;/img&gt;&lt;/a&gt;            &lt;/p&gt;            &lt;br/&gt;            &lt;p style=&quot;font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:12px; color: white; text-align: center; margin:0;&quot;&gt;SIMON S.A.U. l Diputación 390-392 l 08103 Barcelona, España.&lt;/p&gt;            &lt;br/&gt;            &lt;p style=&quot;font-family:&apos;Century Gothic&apos;, &apos;Helvetica Neue&apos;, Helvetica, Arial, sans-serif; font-size:12px; color: white; text-align: center; margin:0;&quot;&gt;Permission Marketing: Simon se compromete con la &lt;a href=&quot;https://www.simonelectric.com/aviso-legal&quot; target=&quot;_blank&quot; style=&quot;color: white;&quot;&gt;protección de la privacidad de sus datos&lt;/a&gt;&lt;br/&gt;© Simon, 2018, todos los derechos reservados.&lt;/p&gt;        &lt;/td&gt;        &lt;td&gt;&lt;/td&gt;    &lt;/tr&gt; &lt;!-- color_line --&gt;&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Consentimiento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_Rechazo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
