src/flows/KS_Flow_Merge_Cuentas.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>id_o_nombre</name>
        <label>id o nombre</label>
        <locationX>273</locationX>
        <locationY>130</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_de_la_cuenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primera_cuenta_0</targetReference>
            </connector>
            <label>id</label>
        </rules>
        <rules>
            <name>nombre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id_de_la_cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuentas</targetReference>
            </connector>
            <label>nombre</label>
        </rules>
        <rules>
            <name>todo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_de_la_cuenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_se_ha_introducido_ning_n_valor</targetReference>
            </connector>
            <label>todo</label>
        </rules>
        <rules>
            <name>ni_id_ni_nombre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_de_la_cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_se_ha_introducido_ning_n_valor</targetReference>
            </connector>
            <label>ni id ni nombre</label>
        </rules>
    </decisions>
    <decisions>
        <name>id_o_nombre_0</name>
        <label>id o nombre2</label>
        <locationX>277</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>id_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_de_la_cuenta_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>segunda_cuenta_1_1</targetReference>
            </connector>
            <label>id</label>
        </rules>
        <rules>
            <name>nombre2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id_de_la_cuenta_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuentas_2</targetReference>
            </connector>
            <label>nombre2</label>
        </rules>
        <rules>
            <name>todo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Id_de_la_cuenta_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_se_ha_introducido_ning_n_valor_1</targetReference>
            </connector>
            <label>todo</label>
        </rules>
        <rules>
            <name>ni_id_ni_nombre_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id_de_la_cuenta_2</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Nombre_de_la_cuenta_2</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_se_ha_introducido_ning_n_valor_1</targetReference>
            </connector>
            <label>ni id ni nombre</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account1</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Nombre_de_la_cuenta</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Account2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Nombre_de_la_cuenta_2</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Flow Merge Cuentas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Merge Cuentas</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Fusi_n</name>
        <label>Crear Fusión</label>
        <locationX>276</locationX>
        <locationY>1009</locationY>
        <assignRecordIdToReference>var_idFusion</assignRecordIdToReference>
        <connector>
            <targetReference>Creaci_n_del_registro</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorFinal</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>KS_Accion__c</field>
            <value>
                <stringValue>MERGE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Id_Duplicado__c</field>
            <value>
                <elementReference>var_IdCuenta2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Id_Principal__c</field>
            <value>
                <elementReference>var_IdCuenta1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Tipo__c</field>
            <value>
                <stringValue>ACCOUNT</stringValue>
            </value>
        </inputAssignments>
        <object>KS_Fusion__c</object>
    </recordCreates>
    <recordLookups>
        <name>Primera_cuenta</name>
        <label>Primera cuenta</label>
        <locationX>102</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fusi_n_de_cuentas_2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleccione_la_cuenta</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_IdCuenta1</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Primera_cuenta_0</name>
        <label>Primera cuenta</label>
        <locationX>351</locationX>
        <locationY>256</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fusi_n_de_cuentas_2</targetReference>
        </connector>
        <filters>
            <field>KS_Id_Salesforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_de_la_cuenta</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_IdCuenta1</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>segunda_cuenta_1_1</name>
        <label>segunda cuenta</label>
        <locationX>619</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ADVERTENCIA_0</targetReference>
        </connector>
        <filters>
            <field>KS_Id_Salesforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_de_la_cuenta_2</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_IdCuenta2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>segunda_cuenta_2</name>
        <label>segunda cuenta</label>
        <locationX>279</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_Fusi_n</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Seleccione_la_cuenta_2</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_IdCuenta2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ADVERTENCIA</name>
        <label>ADVERTENCIA</label>
        <locationX>280</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>segunda_cuenta_2</targetReference>
        </connector>
        <fields>
            <name>cuenta_superviviente</name>
            <fieldText>La primera cuenta introducida ser la superviviente. Para continuar haz click en siguiente.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ADVERTENCIA_0</name>
        <label>ADVERTENCIA</label>
        <locationX>624</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Crear_Fusi_n</targetReference>
        </connector>
        <fields>
            <name>cuenta_superviviente_0</name>
            <fieldText>La primera cuenta introducida ser la superviviente. Para continuar haz click en siguiente.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Creaci_n_del_registro</name>
        <label>Creación del registro</label>
        <locationX>548</locationX>
        <locationY>1009</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>correcto</name>
            <fieldText>El registro de fusión se ha creado satisfactoriamente</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cuentas</name>
        <label>Cuentas</label>
        <locationX>105</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Primera_cuenta</targetReference>
        </connector>
        <fields>
            <name>Seleccione_la_cuenta</name>
            <choiceReferences>Account1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la cuenta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cuentas_2</name>
        <label>Cuentas</label>
        <locationX>277</locationX>
        <locationY>704</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ADVERTENCIA</targetReference>
        </connector>
        <fields>
            <name>Seleccione_la_cuenta_2</name>
            <choiceReferences>Account2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione la cuenta</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorFinal</name>
        <label>Error</label>
        <locationX>47</locationX>
        <locationY>1008</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_final</name>
            <fieldText>No se ha podido crear el registro, pongasé en contacto con su administrador.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fusi_n_de_cuentas</name>
        <label>Fusión de cuentas (Primera cuenta)</label>
        <locationX>474</locationX>
        <locationY>59</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>id_o_nombre</targetReference>
        </connector>
        <fields>
            <name>Opciones</name>
            <fieldText>(Primera Cuenta) Introduzca el nombre de la cuenta o el id</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre_de_la_cuenta</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la cuenta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Id_de_la_cuenta</name>
            <dataType>String</dataType>
            <fieldText>Id de la cuenta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fusi_n_de_cuentas_2</name>
        <label>Fusión de cuentas (Segunda cuenta)</label>
        <locationX>275</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>id_o_nombre_0</targetReference>
        </connector>
        <fields>
            <name>Opciones_0</name>
            <fieldText>(Segunda Cuenta) Introduzca el nombre de la cuenta o el id</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nombre_de_la_cuenta_2</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la cuenta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Id_de_la_cuenta_2</name>
            <dataType>String</dataType>
            <fieldText>Id de la cuenta</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_se_ha_introducido_ning_n_valor</name>
        <label>Error búsqueda de registro</label>
        <locationX>71</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fusi_n_de_cuentas</targetReference>
        </connector>
        <fields>
            <name>error</name>
            <fieldText>No se ha introducido ningún valor o se ha introducido valores en los dos campos, introduzca el id de la cuenta o el nombre.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_se_ha_introducido_ning_n_valor_1</name>
        <label>Error búsqueda de registro</label>
        <locationX>49</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fusi_n_de_cuentas_2</targetReference>
        </connector>
        <fields>
            <name>error_1</name>
            <fieldText>No se ha introducido ningún valor o se ha introducido valores en los dos campos, introduzca el id de la cuenta o el nombre.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Fusi_n_de_cuentas</startElementReference>
    <status>Draft</status>
    <variables>
        <name>var_IdCuenta1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_IdCuenta2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_idFusion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
