src/flows/Make_a_Table.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Closing_HTML</name>
        <label>Add Closing HTML</label>
        <locationX>1313</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tr&gt;&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_CV1_to_HTML</name>
        <label>Add CV1 to HTML</label>
        <locationX>212</locationX>
        <locationY>365</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;td style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vColumn1Style</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCurrentCV1Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Column_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CV2_to_HTML</name>
        <label>Add CV2 to HTML</label>
        <locationX>506</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vColumn2Style</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCurrentCV2Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Column_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CV3_to_HTML</name>
        <label>Add CV3 to HTML</label>
        <locationX>795</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vColumn3Style</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCurrentCV3Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Column_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CV4_to_HTML</name>
        <label>Add CV4 to HTML</label>
        <locationX>1089</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vColumn4Style</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCurrentCV4Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Column_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CV5_to_HTML_0_0</name>
        <label>Add CV5 to HTML</label>
        <locationX>1383</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;td style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vColumn5Style</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCurrentCV5Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/td&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Row</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opening_HTML</name>
        <label>Add Opening HTML</label>
        <locationX>47</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&lt;table style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vTableStyle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Table_Contains_Headers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Header_Row</name>
        <label>End Header Row</label>
        <locationX>208</locationX>
        <locationY>145</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_CV1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_Row</name>
        <label>End Row</label>
        <locationX>355</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/tr&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_CV1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Header_1</name>
        <label>Set Header 1</label>
        <locationX>212</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;tr&gt;&lt;th style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeaderStyle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeader1Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Header_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Header_2</name>
        <label>Set Header 2</label>
        <locationX>505</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeaderStyle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeader2Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Header_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Header_3</name>
        <label>Set Header 3</label>
        <locationX>795</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th style&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeaderStyle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeader3Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Header_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Header_4</name>
        <label>Set Header 4</label>
        <locationX>1086</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeaderStyle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeader4Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Header_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Header_5</name>
        <label>Set Header 5</label>
        <locationX>1390</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;th style=&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeaderStyle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vHeader5Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TableHTMLOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/th&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Header_Row</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Column_2</name>
        <label>Add Column 2?</label>
        <locationX>359</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>End_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Column2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn2Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Column_3</name>
        <label>Add Column 3?</label>
        <locationX>648</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>End_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Column3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn3Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Column_4</name>
        <label>Add Column 4?</label>
        <locationX>942</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>End_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Column4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn4Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Column_5</name>
        <label>Add Column 5?</label>
        <locationX>1236</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>End_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Column5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn5Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Header_2</name>
        <label>Add Header 2?</label>
        <locationX>361</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>End_Header_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Header_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHeader2Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Header_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Header_3</name>
        <label>Add Header 3?</label>
        <locationX>645</locationX>
        <locationY>48</locationY>
        <defaultConnector>
            <targetReference>End_Header_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Header_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHeader3Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Header_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Header_4</name>
        <label>Add Header 4?</label>
        <locationX>942</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>End_Header_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Header_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHeader4Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Header_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_Header_5</name>
        <label>Add Header 5?</label>
        <locationX>1233</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>End_Header_Row</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Header_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHeader5Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Header_5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Column_2</name>
        <label>End Column 2?</label>
        <locationX>506</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Add_Closing_HTML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_End_Column2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn2Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Column_3</name>
        <label>End Column 3?</label>
        <locationX>793</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Add_Closing_HTML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_End_Column3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn3Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Column_4</name>
        <label>End Column 4?</label>
        <locationX>1087</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Add_Closing_HTML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_End_Column4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn4Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Column_5</name>
        <label>End Column 5?</label>
        <locationX>1381</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Add_Closing_HTML</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_End_Column5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cvColumn5Values</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_CV5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Table_Contains_Headers</name>
        <label>Table Contains Headers?</label>
        <locationX>46</locationX>
        <locationY>139</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_CV1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Table_Contains_Headers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vHeader1Text</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Header_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Make a Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Make a Table</label>
    <loops>
        <name>Loop_Through_CV1</name>
        <label>Loop Through CV1</label>
        <locationX>206</locationX>
        <locationY>249</locationY>
        <assignNextValueToReference>vCurrentCV1Value</assignNextValueToReference>
        <collectionReference>cvColumn1Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CV1_to_HTML</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Column_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_CV2</name>
        <label>Loop Through CV2</label>
        <locationX>505</locationX>
        <locationY>368</locationY>
        <assignNextValueToReference>vCurrentCV2Value</assignNextValueToReference>
        <collectionReference>cvColumn2Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CV2_to_HTML</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Column_3</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_CV3</name>
        <label>Loop Through CV3</label>
        <locationX>794</locationX>
        <locationY>420</locationY>
        <assignNextValueToReference>vCurrentCV3Value</assignNextValueToReference>
        <collectionReference>cvColumn3Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CV3_to_HTML</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Column_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_CV4</name>
        <label>Loop Through CV4</label>
        <locationX>1088</locationX>
        <locationY>475</locationY>
        <assignNextValueToReference>vCurrentCV4Value</assignNextValueToReference>
        <collectionReference>cvColumn4Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CV4_to_HTML</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_Column_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_CV5</name>
        <label>Loop Through CV5</label>
        <locationX>1382</locationX>
        <locationY>526</locationY>
        <assignNextValueToReference>vCurrentCV5Value</assignNextValueToReference>
        <collectionReference>cvColumn5Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CV5_to_HTML_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Closing_HTML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Add_Opening_HTML</startElementReference>
    <status>Active</status>
    <variables>
        <name>cvColumn1Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvColumn2Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvColumn3Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvColumn4Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cvColumn5Values</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>An output variable containing the HTML for the table.</description>
        <name>TableHTMLOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Inline CSS style tag value for all non-header cells in Column 1. Default value is color:black;padding:5px;text-align:left;background-color:transparent</description>
        <name>vColumn1Style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>color:black;padding:5px;text-align:left;background-color:transparent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Inline CSS style tag value for all non-header cells in Column 2. Default value is color:black;padding:5px;text-align:left;background-color:transparent</description>
        <name>vColumn2Style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>color:black;padding:5px;text-align:left;background-color:transparent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Inline CSS style tag value for all non-header cells in Column 3. Default value is color:black;padding:5px;text-align:left;background-color:transparent</description>
        <name>vColumn3Style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>color:black;padding:5px;text-align:left;background-color:transparent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Inline CSS style tag value for all non-header cells in Column 4. Default value is color:black;padding:5px;text-align:left;background-color:transparent</description>
        <name>vColumn4Style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>color:black;padding:5px;text-align:left;background-color:transparent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Inline CSS style tag value for all non-header cells in Column 5. Default value is color:black;padding:5px;text-align:left;background-color:transparent</description>
        <name>vColumn5Style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>color:black;padding:5px;text-align:left;background-color:transparent</stringValue>
        </value>
    </variables>
    <variables>
        <name>vCurrentCV1Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentCV2Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentCV3Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentCV4Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCurrentCV5Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHeader1Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHeader2Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHeader3Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHeader4Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vHeader5Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Inline CSS style tag value for all header cells. Default value is color:black;padding:5px;text-align:left;background-color:transparent</description>
        <name>vHeaderStyle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>color:black;padding:5px;text-align:left;background-color:transparent</stringValue>
        </value>
    </variables>
    <variables>
        <description>Inline CSS style tag value for the &lt;table&gt;. Default value is width:500px;border:0px solid black;background-color:transparent</description>
        <name>vTableStyle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>width:500px;border:0px solid black;background-color:transparent</stringValue>
        </value>
    </variables>
</Flow>
