src/flows/MassUpdateOCs.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>CopyCurrentOC</name>
        <label>CopyCurrentOC</label>
        <locationX>795</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>OrgsToUpdateFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOCObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateThroughOCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMarcaName</name>
        <label>UpdateMarcaName</label>
        <locationX>592</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>LoopOCObj.KS_Nombre_marca__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Marca</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyCurrentOC</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>OrgVentasPickList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_Organizacion_de_ventas__c</picklistField>
        <picklistObject>KS_Organizacion_Cliente__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistSociedad</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>KS_Sociedad__c</picklistField>
        <picklistObject>KS_Organizacion_Cliente__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>MassUpdateOCs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MassUpdateOCs</label>
    <loops>
        <name>IterateThroughOCs</name>
        <label>IterateThroughOCs</label>
        <locationX>381</locationX>
        <locationY>182</locationY>
        <assignNextValueToReference>LoopOCObj</assignNextValueToReference>
        <collectionReference>OrgsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateMarcaName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateallOCs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetMatchingOC</name>
        <label>GetMatchingOC</label>
        <locationX>173</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateThroughOCs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMSG</targetReference>
        </faultConnector>
        <filters>
            <field>KS_Organizacion_de_ventas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Organizaci_n_de_Ventas</elementReference>
            </value>
        </filters>
        <filters>
            <field>KS_Sociedad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Sociedad</elementReference>
            </value>
        </filters>
        <object>KS_Organizacion_Cliente__c</object>
        <outputReference>OrgsToUpdate</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateallOCs</name>
        <label>UpdateallOCs</label>
        <locationX>402</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>SuccessMSG</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMSG</targetReference>
        </faultConnector>
        <inputReference>OrgsToUpdateFinal</inputReference>
    </recordUpdates>
    <screens>
        <name>ErrorMSG</name>
        <label>ErrorMSG</label>
        <locationX>187</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>Error ocurred,  please check &quot;junta de la trocola&quot;:
{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Marcas_a_Actualizar</name>
        <label>Marcas a Actualizar</label>
        <locationX>175</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetMatchingOC</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>Define the conditions that the Client Organitzations have to met in order to be updated</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sociedad</name>
            <choiceReferences>PicklistSociedad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sociedad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Organizaci_n_de_Ventas</name>
            <choiceReferences>OrgVentasPickList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Organización de Ventas</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TextValueforOC</name>
            <fieldText>Define the text value for the &quot;Marca Name&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Marca</name>
            <dataType>String</dataType>
            <fieldText>Marca</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessMSG</name>
        <label>SuccessMSG</label>
        <locationX>594</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>All OCs updated successfully</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Marcas_a_Actualizar</startElementReference>
    <status>Draft</status>
    <variables>
        <name>LoopOCObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>KS_Organizacion_Cliente__c</objectType>
    </variables>
    <variables>
        <description>List of OrgsToUpdate</description>
        <name>OrgsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Organizacion_Cliente__c</objectType>
    </variables>
    <variables>
        <name>OrgsToUpdateFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Organizacion_Cliente__c</objectType>
    </variables>
</Flow>
