src/flows/NewReport.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificaci_n_de_Error_flujo_New_Report</name>
        <label>Notificación de Error flujo New Report</label>
        <locationX>12</locationX>
        <locationY>624</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>MensajeDeError</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notificacion error flujo &quot;NewReport&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>epelaz@simon.es</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>SetRecordExistente</name>
        <label>SetRecordExistente</label>
        <locationX>419</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>IdCreatedReport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CitaReporte</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>KS_Recoger_Datos_Reporte_Creado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Es_contacto</name>
        <label>Es contacto</label>
        <locationX>303</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>Notificaci_n_de_Error_flujo_New_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>La cita no es un con un contacto</defaultConnectorLabel>
        <rules>
            <name>La_cita_es_con_un_contacto</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_ContactSearch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_ContactSearch</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Var_ContactSearch</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KS_CreateNewReport</targetReference>
            </connector>
            <label>La cita es con un contacto</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsChildEvent</name>
        <label>IsChildEvent</label>
        <locationX>322</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>KS_VerificarSiExisteReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotChild</defaultConnectorLabel>
        <rules>
            <name>NotChild</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CitaIsChild</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchCita</targetReference>
            </connector>
            <label>IsChild</label>
        </rules>
    </decisions>
    <decisions>
        <name>KS_VerificarSiExisteReport</name>
        <label>VerificarSiExisteReport</label>
        <locationX>313</locationX>
        <locationY>438</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoExisteReporte</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CitaReporte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CitaReporte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReportFill</targetReference>
            </connector>
            <label>NoExisteReporte</label>
        </rules>
        <rules>
            <name>KS_SiExisteReport</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CitaReporte</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CitaReporte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KS_YaExisteReporte</targetReference>
            </connector>
            <label>SiExisteReport</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarContacto</name>
        <label>VerificarContacto</label>
        <locationX>319</locationX>
        <locationY>26</locationY>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>ContactoIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CitaIdContacto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactoNullPantalla</targetReference>
            </connector>
            <label>ContactoIsNull</label>
        </rules>
        <rules>
            <name>ContactoInformed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CitaIdContacto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsChildEvent</targetReference>
            </connector>
            <label>ContactoInformed</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SearchCitaContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitaIdContacto</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CitaIdContacto</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>NewReport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewReport</label>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a New Report Based on the Event selected</description>
        <name>KS_CreateNewReport</name>
        <label>CreateNewReport</label>
        <locationX>236</locationX>
        <locationY>631</locationY>
        <assignRecordIdToReference>IdCreatedReport</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateCitaWithReport</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notificaci_n_de_Error_flujo_New_Report</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>KS_Asunto__c</field>
            <value>
                <elementReference>CitaAsunto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Campana__c</field>
            <value>
                <elementReference>CitaCampanaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Comentarios__c</field>
            <value>
                <elementReference>KS_Comentarios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Contacto__c</field>
            <value>
                <elementReference>CitaIdContacto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Fecha_de_fin__c</field>
            <value>
                <elementReference>CitaEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Fecha_de_inicio__c</field>
            <value>
                <elementReference>CitaStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Obra__c</field>
            <value>
                <elementReference>CitaObraId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Oferta__c</field>
            <value>
                <elementReference>CitaOfertaId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Privado__c</field>
            <value>
                <elementReference>KS_Privado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_Tipo_de_visita__c</field>
            <value>
                <elementReference>IdTipoVisita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KS_objetivo_de_la_visita__c</field>
            <value>
                <elementReference>KS_Objetivo_de_la_visita</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CitaOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>KS_Reporte__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_contact_details</name>
        <label>Get contact details</label>
        <locationX>173</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Es_contacto</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitaIdContacto</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Var_ContactSearch</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>KS_Recoger_Datos_Reporte_Creado</name>
        <label>Recoger Datos Reporte Creado</label>
        <locationX>419</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KS_ReporteCreado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notificaci_n_de_Error_flujo_New_Report</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCreatedReport</elementReference>
            </value>
        </filters>
        <object>KS_Reporte__c</object>
        <outputReference>IdReporteCreado</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>KS_Asunto__c</queriedFields>
        <queriedFields>KS_Comentarios__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupForInitiatingCita</name>
        <label>LookupForInitiatingCita</label>
        <locationX>77</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarContacto</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notificaci_n_de_Error_flujo_New_Report</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCita</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>CitaDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaEndDate</assignToReference>
            <field>EndDateTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaIsChild</assignToReference>
            <field>IsChild</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaCampanaId</assignToReference>
            <field>KS_Campana__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaObjetivo</assignToReference>
            <field>KS_Objetivo_de_la_visita__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaObraId</assignToReference>
            <field>KS_Obra__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaOfertaId</assignToReference>
            <field>KS_Oferta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaReporte</assignToReference>
            <field>KS_Reporte_asociado__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdTipoVisita</assignToReference>
            <field>KS_Tipo_de_visita__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaStartDate</assignToReference>
            <field>StartDateTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaAsunto</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaWhatId</assignToReference>
            <field>WhatId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CitaIdContacto</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SearchCita</name>
        <label>SearchCita</label>
        <locationX>513</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>KS_VerificarSiExisteReport</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notificaci_n_de_Error_flujo_New_Report</targetReference>
        </faultConnector>
        <filters>
            <field>IsChild</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitaStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitaAsunto</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CitaWhatId</elementReference>
            </value>
        </filters>
        <object>Event</object>
        <outputAssignments>
            <assignToReference>idCita</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCitaWithReport</name>
        <label>UpdateCitaWithReport</label>
        <locationX>190</locationX>
        <locationY>730</locationY>
        <connector>
            <targetReference>KS_Recoger_Datos_Reporte_Creado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Notificaci_n_de_Error_flujo_New_Report</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCita</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KS_Reporte_asociado__c</field>
            <value>
                <elementReference>IdCreatedReport</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <screens>
        <name>ContactoNullPantalla</name>
        <label>ContactoNullPantalla</label>
        <locationX>566</locationX>
        <locationY>29</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ContactoNullPantallaTexto</name>
            <fieldText>La cita seleccionada no dispone de Contacto. Es necesario informar uno para generar el reporte.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KS_ReporteCreado</name>
        <label>Creación de Reporte</label>
        <locationX>685</locationX>
        <locationY>624</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeReporteCreado</name>
            <fieldText>Reporte: {!IdReporteCreado.Name} 
Asunto: {!IdReporteCreado.KS_Asunto__c}
Comentarios: {!IdReporteCreado.KS_Comentarios__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>KS_YaExisteReporte</name>
        <label>YaExisteReporte</label>
        <locationX>549</locationX>
        <locationY>439</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetRecordExistente</targetReference>
        </connector>
        <fields>
            <name>MsgError</name>
            <fieldText>El evento seleccionado ya dispone de un reporte asociado, por favor edite directamente el reporte si es que necesita añadir alguna información adicional.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReportFill</name>
        <label>ReportFill</label>
        <locationX>65</locationX>
        <locationY>438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_contact_details</targetReference>
        </connector>
        <fields>
            <name>ReportMSG</name>
            <fieldText>REPORTAR VISITA</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KS_Privado</name>
            <dataType>Boolean</dataType>
            <fieldText>Privado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KS_Objetivo_de_la_visita</name>
            <defaultValue>
                <elementReference>CitaObjetivo</elementReference>
            </defaultValue>
            <fieldText>Objetivo de la visita</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>El objetivo de la visita no puede exceder los 255 carácteres.</errorMessage>
                <formulaExpression>LEN({!KS_Objetivo_de_la_visita})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>KS_Comentarios</name>
            <defaultValue>
                <elementReference>CitaDescription</elementReference>
            </defaultValue>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Los comentarios no pueden exceder los 255 carácteres.</errorMessage>
                <formulaExpression>LEN({!KS_Comentarios})&lt;=32000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookupForInitiatingCita</startElementReference>
    <status>Obsolete</status>
    <textTemplates>
        <description>MensajeDeError</description>
        <name>MensajeDeError</name>
        <text>Se ha producido el siguiente error en el flujo: NewReport

{!$Flow.FaultMessage}</text>
    </textTemplates>
    <variables>
        <name>CitaAsunto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaCampanaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaIdContacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaIsChild</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaObjetivo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaObraId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaOfertaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaReporte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CitaStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CitaWhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>idCita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdCreatedReport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdReporteCreado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Reporte__c</objectType>
    </variables>
    <variables>
        <name>IdTipoVisita</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContactSearch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
