src/flows/OBRA_Renombrado_en_base_a_l_nea_de_negocio.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KS_Construdatos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.KS_L_nea_de_negocio__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Obra con Linea de negocio</label>
        </rules>
    </decisions>
    <description>OBRA. Renombrado en base a línea de negocio</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( 
	OR(	BEGINS([KS_Obra__c].Name,&quot;PR - &quot;), 
		BEGINS([KS_Obra__c].Name,&quot;PM - &quot;),
		BEGINS([KS_Obra__c].Name,&quot;CN - &quot;),
		BEGINS([KS_Obra__c].Name,&quot;IL - &quot;),
		BEGINS([KS_Obra__c].Name,&quot;SC - &quot;),
		BEGINS([KS_Obra__c].Name,&quot;OL - &quot;)
	),

	CASE(TEXT( [KS_Obra__c].KS_L_nea_de_negocio__c  ), 
		&quot;Punto de recarga&quot;,&quot;PR&quot;, 
		&quot;Pequeño material&quot;,&quot;PM&quot;, 
		&quot;Connect&quot;,&quot;CN&quot;, 
		&quot;Iluminación indoor&quot;,&quot;IL&quot;, 
		&quot;Sistemas de control&quot;,&quot;SC&quot;,
		&quot;Iluminación outdoor&quot;,&quot;OL&quot;,  
		&quot;&quot;)&amp;&quot; - &quot;&amp;
		LEFT(RIGHT([KS_Obra__c].Name,LEN([KS_Obra__c].Name)-(FIND(&quot;-&quot;,[KS_Obra__c].Name)+1)),75) ,

	CASE(TEXT( [KS_Obra__c].KS_L_nea_de_negocio__c  ), 
		&quot;Punto de recarga&quot;,&quot;PR&quot;, 
		&quot;Pequeño material&quot;,&quot;PM&quot;, 
		&quot;Connect&quot;,&quot;CN&quot;, 
		&quot;Iluminación indoor&quot;,&quot;IL&quot;, 
		&quot;Sistemas de control&quot;,&quot;SC&quot;,
		&quot;Iluminación outdoor&quot;,&quot;OL&quot;, 
		&quot;&quot;)&amp;&quot; - &quot;&amp;LEFT([KS_Obra__c].Name,75 )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_9881099258</name>
        <dataType>String</dataType>
        <expression>IF( 
	OR(	BEGINS({!myVariable_current.Name},&quot;PR - &quot;), 
		BEGINS({!myVariable_current.Name},&quot;PM - &quot;),
		BEGINS({!myVariable_current.Name},&quot;CN - &quot;),
		BEGINS({!myVariable_current.Name},&quot;IL - &quot;),
		BEGINS({!myVariable_current.Name},&quot;SC - &quot;),
		BEGINS({!myVariable_current.Name},&quot;OL - &quot;)
	),

	CASE(TEXT( {!myVariable_current.KS_L_nea_de_negocio__c}  ), 
		&quot;Punto de recarga&quot;,&quot;PR&quot;, 
		&quot;Pequeño material&quot;,&quot;PM&quot;, 
		&quot;Connect&quot;,&quot;CN&quot;, 
		&quot;Iluminación indoor&quot;,&quot;IL&quot;, 
		&quot;Sistemas de control&quot;,&quot;SC&quot;,
		&quot;Iluminación outdoor&quot;,&quot;OL&quot;,  
		&quot;&quot;)&amp;&quot; - &quot;&amp;
		LEFT(RIGHT({!myVariable_current.Name},LEN({!myVariable_current.Name})-(FIND(&quot;-&quot;,{!myVariable_current.Name})+1)),75) ,

	CASE(TEXT( {!myVariable_current.KS_L_nea_de_negocio__c}  ), 
		&quot;Punto de recarga&quot;,&quot;PR&quot;, 
		&quot;Pequeño material&quot;,&quot;PM&quot;, 
		&quot;Connect&quot;,&quot;CN&quot;, 
		&quot;Iluminación indoor&quot;,&quot;IL&quot;, 
		&quot;Sistemas de control&quot;,&quot;SC&quot;,
		&quot;Iluminación outdoor&quot;,&quot;OL&quot;, 
		&quot;&quot;)&amp;&quot; - &quot;&amp;LEFT({!myVariable_current.Name},75 )
)</expression>
    </formulas>
    <interviewLabel>OBRA_Renombrado_en_base_a_l_nea_de_negocio-7_InterviewLabel</interviewLabel>
    <label>OBRA. Renombrado en base a línea de negocio</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>KS_Obra__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[KS_Obra__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombre de Obra</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_9881099258</elementReference>
            </value>
        </inputAssignments>
        <object>KS_Obra__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>KS_Obra__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>KS_Obra__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
