src/flows/SolicitudClienteSAP.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendSolicitud</name>
        <label>SendSolicitud</label>
        <locationX>506</locationX>
        <locationY>234</locationY>
        <actionName>Account.SAP_Solicitud_Cliente</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>SolicitudClienteSAP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SolicitudClienteSAP</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearRegistroEmail</name>
        <label>CrearRegistroEmail</label>
        <locationX>675</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>SolicitudEND</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!UserName} ha enviado &quot;{!Comentarios2SAP}&quot; para &quot;{!AccName}&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Solicitud SAP - {!AccName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>506</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearRegistroEmail</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>UserMail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpCuenta</name>
        <label>LookUpCuenta</label>
        <locationX>164</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Solicitud_Comentarios</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccComentarios</assignToReference>
            <field>KS_Comentarios_SIMON__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SetComentarios</name>
        <label>SetComentarios</label>
        <locationX>331</locationX>
        <locationY>233</locationY>
        <connector>
            <targetReference>SendSolicitud</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>KS_Comentarios_SIMON__c</field>
            <value>
                <elementReference>Comentarios2SAP</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Solicitud_Comentarios</name>
        <label>Solicitud_Comentarios</label>
        <locationX>332</locationX>
        <locationY>121</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetComentarios</targetReference>
        </connector>
        <fields>
            <name>Comentarios2SAP</name>
            <fieldText>Comentarios</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Los comentarios no pueden exceder los 1000 carácteres.</errorMessage>
                <formulaExpression>LEN({!Comentarios2SAP})&lt;=1000</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SolicitudEND</name>
        <label>SolicitudEND</label>
        <locationX>826</locationX>
        <locationY>123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Mensaje</name>
            <fieldText>Correo electónico enviado para la cuenta &quot;{!AccName}&quot; con los comentarios siguientes:

{!Comentarios2SAP}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookUpCuenta</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccComentarios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserMail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
